<div class="controls">
   <input type="text" ng-model="vidID" class="youtube-id" placeholder="Video ID, ie: RubBzkZzpUA"/>
   <div class="youtube-fetcher-submit button" ng-click="fetch(vidID)" title="Fetch youtube video from ID">Fetch</div>
    <div class="button remove-video" title="remove this video" ng-click="r = null; remove();">✕</div>
</div>
<div class="notification"></div>
<div class="response" ng-if="r">
    <h1 class="video-title">{{r.title}}</h1>
    <a class="video-preview" ng-href="{{r.url}}" target="_blank">
     <img class="video-thumbnail" ng-src="{{r.thumbnail_large}}"/>
    </a>
    <p class="video-description" ng-bind-html="r.description"></p>              
</div>
<p>Sample: 101895020</p>